@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;/*Para ter a largura de toda a tela*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 70vh;
    display: flex;
    box-shadow: 10px 10px 10px black;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;  
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.cep-input {
    display: flex;
    align-items: center;
}

#meuCep {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.7rem;
    font-size: 20px;
}

.form-header h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #0000CD;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.1rem;
}

.input-box input {
    margin: 0.8rem 0;
    padding: 0.8rem;
    font-size: 15px;
}



















